h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

*:not(header) a,
*:not(footer) a {
    color: $dourado;
}

.site-header {
    transition: box-shadow 200ms cubic-bezier(0.33, 1, 0.68, 1);
    &.active {
        box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.3);
    }
    a {
        .whatsapp-icon,
        .user-icon {
            svg {
                width: 24px;
                height: auto;
                margin-left: -4px;
            }
        }
    }
}

.dropdown-toggle {
    &::after {
        content: "";
        display: inline-block;
        margin-left: 0.255em;
        vertical-align: middle;
        border: none;
        width: 8px;
        height: 6px;
        background-image: url(../icons/menu-arrow-top-level.svg);
    }
}
#navbarMenuPrincipal {
    .offcanvas-header {
        border-bottom: 1px solid $cinza-claro;
    }
    .offcanvas-body {
        padding: 0;
        a {
            padding-left: 20px;
            font-size: 1.3em;
            &.active {
                font-weight: 700;
                color: $azul-escuro;
            }
        }
        .navbar-nav .always-open .dropdown-menu {
            display: block;
        }
        .navbar-nav .dropdown-menu {
            border: none;
            margin: 0;
            padding: 0;
            .dropdown-item {
                padding: 0;
            }
            &.sub-menu {
                .dropdown-item {
                    a {
                        padding-left: 2em;
                        font-weight: 700;
                        color: $azul-escuro;
                        &::before {
                            content: "";
                            display: inline-block;
                            vertical-align: middle;
                            width: 10px;
                            height: 14px;
                            margin-right: 1em;
                            background-image: url(../icons/menu-arrow-sub-level.svg);
                        }
                    }
                    .sub-sub-menu {
                        .dropdown-item {
                            a {
                                font-weight: 400;
                                &::before {
                                    display: none;
                                }
                                &.active {
                                    font-weight: 700;
                                    color: $azul-escuro;
                                }
                            }
                        }
                    }
                }
                .sub-menu {
                    .dropdown-item {
                        // text-indent: 0;
                    }
                }
            }
            & > .dropdown-item {
                &.menu-item-has-children {
                    background-color: $cinza-claro;
                    .dropdown-item {
                        a {
                            padding-left: 3.6em;
                        }
                    }
                }
            }
        }
    }
    .offcanvas-footer {
        background-color: $cinza-claro;
        padding: 16px;
        @include offcanvas-footer-padding-bottom
    }
}
.no-link {
    > a {
        cursor: default;
    }
}
.redes-sociais {
    list-style: none;
    padding: 0;
}
.navbar-toggler {
    border: none;
    outline: none;
    .hamburger {
        display: none;
    }
    .close {
        display: block;
    }
    &.collapsed {
        .hamburger {
            display: block;
        }
        .close {
            display: none;
        }
    }
}

.dropdown-menu,
.dropdown-item:focus,
.dropdown-item:hover {
    background-color: $branco;
}

.nav-item .sub-sub-menu {
    display: block;
    border: none;
}

.nav-item .sub-sub-menu .dropdown-item {
    padding-inline: 0;
}

.newsletter-form {
    .form-control,
    .btn {
        border-radius: 5px;
        padding-block: 0.65em;
    }
}

.woocommerce-notices-wrapper {
    .woocommerce-message {
        .button {
            padding: 6px 12px;
            border-radius: 5px;
            border: none;
            background-color: $verde;
            color: $branco;
            text-decoration: none;
            transition: all 0.25s;
            &:hover {
                opacity: 0.8;
            }
        }
    }
}

#offcanvasMinicart {
    min-height: 100vh;
    .widget_shopping_cart_content {
        position: relative;
        height: 100%;
    }
    .offcanvas-header {
        background-color: $cinza-claro;
        .mini-cart-frete-message {
            font-size: 0.6em;
            strong {
                text-transform: uppercase;
            }
        }
    }
    .offcanvas-body {
        min-height: 300px;
        font-size: 1.3em;
    }
    .woocommerce-mini-cart {
        &.cart_list {
            &.product_list_widget {
                display: flex;
                flex-direction: column;
                gap: 10px;
                list-style: none;
                padding: 0;
                .woocommerce-mini-cart-item {
                    &.mini_cart_item {
                        display: flex;
                        gap: 10px;
                        align-items: start;
                        .product-image {
                            img {
                                max-width: 80px;
                                height: auto;
                                border-radius: 3px;
                            }
                        }
                        .product-info {
                            display: flex;
                            gap: 2px;
                            flex-direction: column;
                            font-weight: 300;
                            font-size: 0.9em;
                            .product-name {
                                font-weight: inherit;
                                font-size: 1.3em;
                                margin-bottom: 0;
                            }
                            .product-buy-options {
                                display: flex;
                                align-items: center;
                                gap: 0.3em;
                                font-weight: inherit;
                                font-size: inherit;
                                .quantity {
                                    font-weight: 600;
                                }
                                .sale-price {
                                }
                                .regular-price {
                                    .woocommerce-Price-amount {
                                        &.amount {
                                            color: $dourado;
                                            font-weight: 700;
                                            text-decoration: line-through;
                                        }
                                    }
                                }
                            }
                            .remove {
                                &.remove_from_cart_button {
                                    color: $cinza;
                                    font-size: 0.9em;
                                    font-weight: 700;
                                    line-height: 1.3em;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    white-space: nowrap;
                                    max-width: 100%;
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .woocommerce-mini-cart__buttons {
        display: flex;
        flex-direction: column;
        gap: 10px;
        &.buttons {
            .button {
                display: block;
                border-radius: 5px;
                background: $verde;
                color: $branco;
                text-align: center;
                font-size: 0.85em;
                font-style: normal;
                font-weight: 700;
                line-height: 0.85em;
                letter-spacing: 0.2em;
                text-transform: uppercase;
                padding: 15px 30px;
                text-decoration: none;
                transition: opacity 0.25s;
                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }
    .woocommerce-mini-cart__total {
        &.total {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 5px;
            .woocommerce-Price-amount {
                &.amount {
                    font-weight: 700;
                }
            }
        }
    }
    .offcanvas-footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 9;
        background-color: $cinza-claro;
        padding: 16px;
        @include offcanvas-footer-padding-bottom;
        .minicart-footer-text {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            font-size: 0.65em;
            font-weight: 400;
            color: $azul;
        }
    }
}

// Form
.form-control {
    border: none;
    border-radius: 0;
}

.input-group-text {
    border: none;
    border-radius: 0;
    background-color: $branco;
}

.product_title {
    font-weight: 300;
    margin-bottom: 1em;
}

.price {
    list-style: none;
    padding: 0;
    display: grid !important;
    grid-template-areas:
        "regular empty"
        "promotion percentage"
        "parcelamento_text parcelamento_money";
    column-gap: 15px;
    row-gap: 0;
    justify-content: flex-start;
    justify-items: flex-start;
    align-items: center;
    margin: 0 0 20px;
    .regular-price {
        del {
            opacity: 1 !important;
        }
        grid-area: regular;
        font-size: 1rem;
        color: $cinza !important;
    }
    .dicount-percentage {
        grid-area: percentage;
        background-color: $verde;
        color: $branco;
        font-size: 1em;
        border-radius: 5px;
        padding: 0 3px;
        img {
            width: auto !important;
            height: auto !important;
            display: inline !important;
            margin: 0 !important;
        }
    }
    .sale-price {
        font-size: 2em;
        font-weight: 800;
        font-style: normal;
        grid-area: promotion;
        color: $azul-escuro;
    }
    .discount-number {
        grid-area: parcelamento_money;
        background-color: $azul;
        color: $dourado;
        font-size: 14px;
        padding: 3px 6px;
        border-radius: 5px;
    }
    .texto-parcelamento {
        grid-area: parcelamento_text;
        color: $cinza;
    }
}

.rating-list {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 0.25em;
    li {
        i {
            color: $cinza-claro;
        }
        &.active {
            i {
                color: $amarelo;
            }
        }
    }
}

.categoria-produto {
    border-radius: 5px;
    text-align: center;
    color: $branco;
    padding: 0.75em 1em;
    line-height: 1em;
    margin-bottom: 20px;
    h4 {
        margin-bottom: 0;
    }
}

form.cart {
    .input-text {
        &.qty {
            &.text {
                display: block;
                width: 100%;
                background-color: $cinza-claro;
                border: none;
                border-radius: 5px;
                text-align: center;
                padding: 0.8em 1em;
                font-size: 1em;
                font-weight: 700;
                color: $azul;
                font-weight: 500;
                margin-bottom: 20px;
            }
        }
    }
    .input-group {
        margin-bottom: 20px;
        .input-text {
            &.qty {
                &.text {
                    &.form-control {
                        width: 1%;
                        margin-bottom: 0;
                        border-radius: 0;
                    }
                }
            }
        }
        .input-group-text {
            background-color: $cinza-claro;
            a {
                font-weight: 700;
                font-size: 1.5em;
                text-decoration: none;
                color: $azul;
            }
        }
    }
    .single_add_to_cart_button {
        &.button {
            @include add-to-cart-btn;
            &:hover {
                @include add-to-cart-btn-hover;
            }
        }
    }
}

.woocommerce {
    .product {
        .button,
        a.button {
            @include add-to-cart-btn;
            &:hover {
                @include add-to-cart-btn-hover;
            }
        }
    }
}

.woocommerce-loop-product__title {
    font-size: 1.375em;
    font-weight: 700;
    color: $azul-escuro;
    a {
        font: inherit;
        text-decoration: none;
        color: inherit;
        &:hover {
            text-decoration: underline;
        }
    }
}

.iv-add-to-cart-btn {
    @include add-to-cart-btn;
    &:hover {
        @include add-to-cart-btn-hover;
    }
}
.woocommerce {
    .woocommerce-pagination {
        margin-top: 40px;
        ul.page-numbers {
            border: none;
            li {
                border: solid 1px $cinza-claro;
                border-collapse: collapse;
            }
            .page-numbers {
                padding: 10px 15px;
                color: $azul-escuro;
                &.current {
                    background-color: $verde;
                    color: $branco;
                }
                &.next,
                &.prev {
                }
                a {
                    color: inherit;
                }
                &:hover {
                    transition: all 0.2s;
                    background-color: $dourado;
                    color: $branco;
                    border-color: $branco;
                }
            }
        }
    }
}

.term-description {
    font-size: 1.25em;
    margin-bottom: 40px;
}

.site-verificado {
    color: $cinza;
    font-size: 0.7em;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
}

.vantagens-produto {
    color: $cinza;
    font-size: 0.9em;
}

/* Slick Slider */

.slick-slider {
    margin: 0 auto 20px;
    padding: 0 0 20px;
    .slick-slide {
        overflow: hidden;
        border-radius: 8px;
    }
    .slick-arrow {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        z-index: 9;
        background-color: transparent;
        border: none;
        padding: 0;
        width: 30px;
        height: 30px;
        text-align: center;
    }
    .slick-prev {
        left: 0;
    }
    .slick-next {
        right: 0;
    }
    .slick-prev,
    .slick-next {
        &::before {
            content: "";
            display: none;
        }
    }
    .slick-dots {
        position: absolute;
        z-index: 9;
        bottom: -20px;
        left: 0;
        right: 0;
        margin: 0 auto;
        padding: 0;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 7px;
        button {
            background-color: $dourado;
            border: none;
            padding: 0;
            width: 5px;
            height: 5px;
            font-size: 0;
            border-radius: 50%;
            opacity: 0.5;
            margin-inline: auto;
            &::before {
                content: "";
                display: none;
            }
        }
    }
    .slick-active {
        button {
            background-color: $azul;
        }
    }
    video {
        max-width: 100%;
    }
    &.home-banner {
        background-color: $azul-escuro;
        padding-bottom: 0;
        margin-bottom: 0;
        .slick-slide {
            border-radius: 0;
        }
        .image-wrapper {
            position: relative;
            padding: 0;
            margin-bottom: 0;
            // &::before {
            //     content: "";
            //     position: absolute;
            //     display: block;
            //     top: 0;
            //     left: 0;
            //     right: 0;
            //     bottom: 0;
            //     box-shadow: 100px 0 50px -20px $azul-escuro inset,
            //         -100px 0 50px -20px $azul-escuro inset;
            //     z-index: 1;
            // }
            img {
                position: relative;
                z-index: 0;
            }
        }
        .slick-dots {
            bottom: -40px;
        }
    }
}

.produto-depoimentos {
    background-color: $cinza-claro;
    padding-top: 80px;
    padding-bottom: 40px;
    text-align: center;
}

.produto-depoimentos-carrossel {
    video {
        border-radius: 5px;
        margin: 10px auto 20px;
    }
    blockquote {
        font-size: 0.95em;
        font-style: italic;
        font-weight: 400;
        line-height: 1.2em;
        border: none;
        margin: 0 auto 20px;
        padding: 0;
    }
    h5 {
        font-size: 1.2em;
        font-weight: 400;
        line-height: 1.5em;
        margin: 0;
        padding: 0;
    }
}

.produto-historia {
    background-color: $azul;
    color: $dourado;
    padding-block: 80px;
    text-align: center;
    h3 {
        @include font-advent;
        font-size: 1.4em;
        letter-spacing: 1.2em;
        text-transform: uppercase;
    }
    .slick-dots {
        .slick-active {
            button {
                background-color: $branco;
            }
        }
    }
}

.produto-descricao {
    background-color: $azul-escuro;
    color: $dourado;
    padding-block: 80px;
    text-align: center;
    .container {
        padding-inline: 25px;
    }
    h3 {
        @include font-advent;
        font-size: 2em;
        letter-spacing: 1.2em;
        text-transform: uppercase;
    }
    .slick-dots {
        .slick-active {
            button {
                background-color: $branco;
            }
        }
    }
    .produto-descricao-carrossel {
        p {
            color: $branco;
        }
    }
}

.product-descricao-carrossel {
    text-align: left;
    color: $branco;
}

.produto-categoria {
    text-align: center;
    padding-block: 80px;
    background-color: $cinza-claro;
    img {
        max-width: 100%;
        margin-inline: auto;
    }
    p {
        margin-bottom: 0;
    }
    h4 {
        font-weight: 400;
        font-size: 1.25em;
    }
}

.seja-ide {
    background-color: $branco;
    text-align: center;
    padding-block: 80px;
    h3 {
        @include font-advent;
        font-weight: 400;
        font-size: 1.85em;
        text-transform: uppercase;
        letter-spacing: 1em;
    }
    p {
        font-weight: 300;
        margin-bottom: 0;
    }
}

.woocommerce-breadcrumb {
    display: block;
    margin-bottom: 40px;
    font-size: 1.3em;
    a {
        color: $azul;
    }
}

.giftbox {
    background-color: $azul-escuro;
    color: $dourado;
    padding-block: 80px;
    p {
        margin-bottom: 0;
    }
    .giftbox-title {
        @include font-advent;
        font-size: 2.25em;
        letter-spacing: 0.5em;
        font-weight: 300;
    }
    .giftbox-text {
        text-align: center;
    }
    .giftbox-destaque {
        text-align: center;
        color: $amarelo-claro;
    }
    .giftbox-link {
        text-transform: uppercase;
        font-size: 1em;
        position: relative;
        text-decoration: none;
        color: $dourado;
        letter-spacing: 0.2em;
        padding-bottom: 1.5em;
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%);
            width: 100px;
            border-bottom: solid 1px $dourado;
        }
        &:hover {
            transition: all 0.2s;
            color: $branco;
            &::after {
                border-color: $branco;
            }
        }
    }
}

.ide {
    background-color: $cinza-claro;
    padding-block: 80px;
    margin-bottom: -3rem;
    h4,
    blockquote {
        margin-bottom: 0;
    }
    .ide-main-text {
        text-align: center;
        font-size: 1.3em;
        color: $azul-escuro;
        line-height: 1.5em;
        letter-spacing: 0.03em;
        font-weight: 400;
    }
    blockquote {
        text-align: center;
        font-size: 0.9em;
    }
}

.woocommerce-MyAccount-navigation {
    border-bottom: 1px solid $cinza-claro;
    margin-bottom: 10px;
    ul {
        display: flex;
        padding: 0;
        gap: 1.5em;
        justify-content: start;
        align-items: center;
        list-style: none;
        flex-wrap: wrap;
        li {
            a {
                color: $azul-escuro;
                text-decoration: none;
                &:hover {
                    transition: all 0.2s;
                    color: $dourado;
                }
            }
            &.is-active {
                a {
                    color: $dourado;
                    font-weight: 700;
                }
            }
        }
    }
}

.entry-title {
    @include font-advent;
    letter-spacing: 0.2em;
    margin-top: 40px;
    margin-bottom: 20px;
    color: $azul;
    &.product_title {
        margin-top: 0;
    }
}

.woocommerce form .form-row input.input-text,
.woocommerce form .form-row textarea {
    padding: 6px 12px;
}

#billing_country_field {
    display: none;
}

.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles))
    #respond
    input#submit,
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles))
    a.button,
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles))
    button.button,
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles))
    input.button,
:where(body:not(.woocommerce-block-theme-has-button-styles))
    .woocommerce
    #respond
    input#submit,
:where(body:not(.woocommerce-block-theme-has-button-styles))
    .woocommerce
    a.button,
:where(body:not(.woocommerce-block-theme-has-button-styles))
    .woocommerce
    button.button,
:where(body:not(.woocommerce-block-theme-has-button-styles))
    .woocommerce
    input.button {
    background-color: $azul-escuro;
    color: $branco;
    font-weight: 400;
    &:hover {
        transition: all 0.2s;
        background-color: $dourado;
        color: $branco;
    }
}

.produto-categoria {
    font-size: 1.25em;
}

.produto-categoria-carrossel {
    &.slick-slider {
        .slick-slide {
            img {
                max-width: 100%;
                border-radius: 10px;
                margin-inline: auto;
            }
        }
    }
}

.entry-content {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @include font-advent;
    }
}

.order-actions-btns {
    display: flex;
    gap: 5px;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}
// #navbarMenuPrincipal .offcanvas-body .navbar-nav .always-open .dropdown-menu
@media (min-width: 768px) {
    #navbarMenuPrincipal {
        .offcanvas-body {
            padding: 0;
            a {
                font-size: 1em;
                padding-left: 8px;
            }
            .navbar-nav {
                .dropdown-menu {
                    display: none;
                    border-radius: 0;
                    &.show {
                        display: block;
                    }
                    .sub-menu,
                    .sub-sub-menu {
                        display: block;
                    }
                }
                .always-open {
                    .dropdown-menu {
                        display: none;
                    }
                }
                .menu-item-depth-0 {
                    &:hover {
                        .sub-menu {
                            display: block;
                        }
                    }
                }
            }
        }
    }
    .nav-item {
        .sub-sub-menu {
            // display: none;
            position: static !important;
            left: 100%;
            top: -7px;
        }
        &.menu-item-depth-0 {
            > a {
                position: relative;
                transition: all 0.2s;
                &::before {
                    transition: all 0.2s;
                    content: "";
                    display: block;
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    width: 0%;
                    transform: translate(-50%, 0);
                    border-bottom: solid 1px;
                }
            }
            &:hover {
                .dropdown-menu {
                    box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.2);
                }
                > a {
                    margin-top: -5px;
                    &::before {
                        width: 70%;
                    }
                }
            }
        }
    }
    .dropdown-item {
        &:not(.no-link) {
            > a {
                position: relative;
                transition: all 0.2s;
                &:hover {
                    text-indent: 5px;
                }
            }
        }
    }
    .price {
        grid-template-areas:
            "regular regular"
            "promotion percentage"
            "parcelamento_text parcelamento_text"
            "parcelamento_money parcelamento_money";
        .texto-parcelamento {
            margin-bottom: 10px;
        }
    }
    .produto-historia {
        text-align: left;
        h3 {
            text-align: center;
            font-size: 2em;
        }
    }
    .woocommerce-MyAccount-navigation {
        border-bottom: none;
        margin-bottom: 0;
        ul {
            align-items: start;
            flex-direction: column;
            gap: 0.75em;
            li {
                display: block;
                width: 100%;
                padding-bottom: 0.75em;
                border-bottom: solid 1px $cinza-claro;
                &:last-child {
                    border-bottom: none;
                }
            }
        }
    }
    .order-actions-btns {
        justify-content: flex-start;
    }
}
@media (min-width: 992px) {
    // Main menu

    .dropdown-item {
        padding-inline: 0;
    }

    .navbar-expand-md .navbar-nav .dropdown-item > a.nav-link {
        padding-inline: 24px;
    }

    .dropdown-menu li {
        position: relative;
    }
    .nav-item .sub-menu-left {
        right: 100%;
        left: auto;
    }
    .dropdown-menu > li:hover {
        position: static;
        left: 0;
    }
    .dropdown-menu > li:hover > .sub-sub-menu {
        position: static;
        display: block;
        left: 0;
    }
    .produto-depoimentos-carrossel {
        .slick-slide {
            padding-inline: 20px;
        }
    }
    .produto-historia {
        h3 {
            text-align: left;
            text-indent: 1.5rem;
        }
    }
}
